.captured-container {
  text-align: center;
  height: 70vh;
  width: 50vw;
  margin: 0px !important;
}

video {
  height: 100%;
  max-width: 700px;
}

.controls {
  display: flex;
  padding: 10px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

/* Target smartphones */
@media only screen and (max-width: 767px) {
  .button-50 {
    padding: 12px 50px;
  }
  .on-preview{
    width: 100vw;
    height: auto;
    padding: 50px 0px;
    background-color: red;
  }
  .captured-container{
    width: 100vw;
  }
  .controls {
    width: 100%;
    margin: auto;
  }
  video{
    width: 95%;
  }
}